{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="login-ctn">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <table>
            <tr>
                <td><h1 class="h3 mb-3 font-weight-normal">Please sign in</h1></td>
            </tr>
            <tr>
                <td><label for="inputEmail">Email</label></td>
            </tr>
            <tr>
                <td><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus></td>
            </tr>
            <tr>
                <td><label for="inputPassword">Password</label></td>
            </tr>
            <tr>
                <td><input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required></td>
            </tr>
            <tr>
                <td><div>se souvenirde moi</div></td>
                <td><div> <a href="">mot de passe oublié ?</a></div></td>
            </tr>
            <tr>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

                <td><button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button></td>
            </tr>
            <tr>
                <td>Un problème avec votre compte ? <a href="">Contact</a></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
