{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

<link rel="stylesheet" href={{ asset("/formation.css") }}>
<div class="forma">
    <div class="search-ctn">
        <div class="titre"></div>
        <div class="search"></div>
    </div>
</div>


{% endblock %}
