{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

<link rel="stylesheet" href={{ asset("/formation.css") }}>
<div class="forma">
    <div class="title-ctn">
        <div class="title">Formation</div>
    </div>
    <div class="search-ctn">
        <div class="titre">Recherche</div>
        <div class="search">
            <div class="bar">Intitulé</div>
            <div class="bouton">GO</div>
        </div>
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Session en cours</div>
            <div class="tab">
                <table>
                    <thead>
                        <td>Intitule</td>
                        <td>nb Sessions</td>
                        <td>nb Modules</td>
                        <td>Durée Total</td>
                        <td>Place</td>
                        <td>Progression</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
</div>

{% endblock %}
