{% extends 'base.html.twig' %}

{% block title %}Liste Stagiaire{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/administration.css') }}" />

<div class="forma">

    {{ form(formModifyFormation) }}

</div>

{% endblock %}