.ts-control input[type="select-one"] {
	width: 800px;
	height: 50px;
	background-color: var(--qua) !important;
	background: var(--qua) !important;
	color: var(--txt-high);
	font-size: 25px;
	padding-left: 30px;
}

.ts-control {
	width: 800px;
	height: 50px;
	background: var(--ter) !important;
	border-color: var(--qua) !important;
}

.ts-dropdown {
	width: 800px;
	background-color: var(--qua);
	color: var(--txt-dark);
	font-size: 15px;
}

.clear-button {
	font-size: 40px;
	color: var(--txt-high);
}

.item {
	font-size: 30px;
	padding: 5px;
	color: var(--txt-low);
}

.session_ac_intitule-ts-control {
	width: 480px;
	height: 40px;
}