body{
    background: var(--ter);
}

.forma{
    padding: 20px;
}

.title-ctn{
    width: 100%;
    height: 15vh;
    margin-bottom: 40px;
}

.title{
    width: 100%;
    height: 100%;
    background: var(--qua);
    text-align: center;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 25px;
    color: var(--txt-high);
    line-height: 150px;
    box-shadow: 0px 0px 5px 3px black;
    caret-color: transparent;
}

.search-ctn{
    width: calc(100% - 40px);
    height: 15vh;
    padding: 20px;
    background: var(--qua);
    color: var(--txt-high);
    box-shadow: 0px 0px 5px 3px black;
    caret-color: transparent;
}

.titre{
    background: var(--qua);
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    color: var(--txt-low);
}

.search{
    display: flex;
    width: 100%;
    height: 75px;
    box-shadow: 0px 0px 2px 2px var(--ter);
}

.search .bar{
    width: 80%;
    border: solid 1px;
    border-color: var(--tab-brd);
    color: var(--tab-brd);
    padding-left: 20px;
    font-size: 30px;
    line-height: 70px;
    font-weight: 600;
}

.search .bouton{
    width: 20%;
    border: solid 1px;
    border-color: var(--tab-brd);
    border-left: none;
    color: var(--txt-low);
    text-align: center;
    font-size: 30px;
    line-height: 70px;
    font-weight: 600;
}