:root{
    --pri: #DD424C;
    --sec: #EAEAEA;
    --ter: #1E1E1E;
    --qua: #363636;
    --txt-dark: #1E1E1E;
    --txt: #363636;
    --txt-low: #8C8C8C;
    --txt-high: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

.login-ctn {
    top: 250px;
    left: -200px;
    position: relative;
    width: 30vw;
    height: 600px;
    background: var(--sec);
    border: solid 3px;
    border-color: var(--qua);
    box-shadow: 2px 4px 4px 0px var(--ter);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bkg{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: wrap;
    flex-direction: row;
}

.bkg-left{
    width: 70%;
    height: 100%;
    background: var(--ter);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bkg-right{
    width: 30%;
    height: 100%;
    background: var(--pri);
    box-shadow: inset  23px 23px 4px 0 rgb(166, 49, 57),
                inset  -23px -23px 4px 0 rgba(166, 49, 57);
}

.cocarde{
    top: -20px;
    left: -20px;
    position: absolute;
    background: var(--sec);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: 1;
    box-shadow: 2px 2px 2px 0 var(--qua);
}

.cocardeF{
    top: -10px;
    left: -10px;
    position: absolute;
    background: var(--pri);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 2;
}

.cocardeB{
    top: -20px;
    left: -25px;
    position: absolute;
    background: var(--txt-low);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: 0;
}

.logo{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 200px;
    color: var(--pri);
}

.pres{
    font-family: 'Share Tech Mono', monospace;
    font-size: 40px;
    color: var(--txt-low);
}

.title {
    text-align: center;
    padding: 50px;
    color: var(--txt);
}

.alert {
    color: var(--pri);
}

.field{
    width: 100%;
    height: 50px;
    font-size: 18px;
}

.s{
    width: 100%;
    height: 50px;
}

.ctn-field{
    padding-top: 30px;
}

.f-pad{
    padding-left: 30px;
}

.btn{
    margin-top: 30px;
    background: var(--ter);
    color: var(--sec);
    font-size: 35px;
}

.cfL{
    float: left;
}

.cfR{
    float: right;
}

.login-ctn a{
    color: var(--pri);
}
