:root{
    --pri: #DD424C;
    --sec: #EAEAEA;
    --ter: #1E1E1E;
    --qua: #363636;
    --txt-dark: #1E1E1E;
    --txt: #363636;
    --txt-low: #8C8C8C;
    --txt-high: #FFFFFF;
    --tab-high: rgba(255, 255, 255, 0.05);
    --tab-brd: #5B5B5B;
}

* {
    margin: 0;
    padding: 0;
}
